body{margin: 4%;
background-color: black;}
img{
    align-items: center;
}

a{
    color: white;
    background-color: black;
    text-align: center;
}
a:hover{
    color: black;
    background-color:red ;
}
